.searchBar>div:first-of-type {
    max-width: 100%;
    padding: 7px;
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-shadow: 0px 2px rgb(0 0 0 / 20%);
    color: #313131;
}